@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }

    .detectorClass {
        float: right;        
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: #fff;
        color: #000;
    }

    .detectorClass {
        float: left;
    }
}